body {
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: ghostwhite;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: purple;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 100;
    padding: 10px 0;
    transition: box-shadow 0.3s ease;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

main {
    flex: 1;
    margin-top: 60px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    padding: 10px;
    color: white;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    border: solid 2px yellow;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

footer div p {
    font-weight: bold;
}

.titulo {
    color: white;
    text-shadow: 1px 2px 2px black;
    padding: 5px;
    border: solid 5px yellow;
    background-color: purple;
    border-radius: 8px;
}

.container {
    justify-content: center;
    display: flex;
    align-items: center;
    border: solid 2px blueviolet;
    align-content: center;
    border-radius: 4px;
    padding: 5px;
    gap: 5px;
    background-color: rgba(251, 255, 0, 0.06);
}

.container p {
    text-align: justify;
    font-size: 24px;
}

img {
    width: 30%;
}

.text {
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    color: black;
}

.contato {
    flex: 1;
    /* Ocupa o mesmo espaço que a tabela */
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    min-width: 300px;
}

.contato h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.contato label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contato input,
.contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contato button {
    width: 100%;
    padding: 12px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contato button:hover {
    background-color: blueviolet;
}

.tabela {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    min-width: 300px;
}

.tabela h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.tabela table {
    width: 100%;
    border-collapse: collapse;
}

.tabela th,
.tabela td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.tabela th {
    background-color: purple;
    color: white;
}